* {
    box-sizing: border-box;
}

.topo {
    width: 100%;
    height: 80px;
    background-color: blueviolet;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 22px;
}

.mensagemArea {
    width: 100%;
    height: 100%;
    background-color: brown;
}

.msn {
    width: 100%;
    background-color: blue;
}

input {
    width: 100%;
    height: 80px;
    background-color: aquamarine;
    position: absolute;
    left: 0;
    bottom: 0;
}